<ul class="bar-chart">
  {% for item in chart %}
  <li class="bar-chart__item"  style="--width: {{ item.width }};">
    <div class="bar-chart__label">{{ item.label }}</div>
    <div class="bar-chart__bar"><span data-val="{{ item.value }}"></span></div>
  </li>
  {% endfor %}
</ul>
