<div class="search-breadcrumbs-section">
  <div class="wrapper search-breadcrumbs-section__panel">
    <div class="search-breadcrumbs-section__breadcrumbs">
      {% render '@breadcrumbs' %}      
    </div>
    
    <div class="search-breadcrumbs-section__search">
      <input class="search-field <!-- js-search-filter -->" placeholder="Search" />  
    </div>
  </div>
</div>