<div class="search-breadcrumbs-section">
  <div class="wrapper search-breadcrumbs-section__panel">
    <div class="search-breadcrumbs-section__breadcrumbs">
      {% render '@breadcrumbs' %}      
    </div>
    
    <div class="search-breadcrumbs-section__search">
      <label for="search" class="screen-reader-only">Search</label>
      <input id="search" class="search-field <!-- js-search-filter -->" placeholder="Search" />  
    </div>
  </div>
</div>