.sidebar-blog {
    text-align: right;
    padding-top: 0px;

    &__heading {
      padding: 0 32px 8px;
      margin: 0;
      font-weight: 400;
    }

    &__text{
      padding: 102px;
      max-width: 700px;
    }
}

.categories-list {
  list-style: none;

  &__item {

    & > a {
      font-weight: bold;
    }

    & > ul {
      list-style: none;

      & > li {
        margin-top: 0.5rem;
      }
    }
  }
}

.category {
  padding: 8px 32px;
  display: block;
  color: hsla(var(--base-hsl), .6);

  &:hover {
    background-color: hsla(var(--base-hsl), .1);
    background: linear-gradient(90deg, hsla(var(--base-hsl), 0) 0%, hsla(var(--base-hsl), .1) 100%);
  }

  &--active {
    background-color: hsla(var(--teal-hsl), .1);
    background: linear-gradient(90deg, hsla(var(--teal-hsl), 0) 0%, hsla(var(--base-hsl), .3) 100%);
  }
}

