<div class="sidebar-blog">
  <h2 class="sidebar-blog__heading">Categories</h2>
   <ul class="sidebar-blog__content categories-list">
        <li class="categories-list__item"><a class="category" href="#">How to</a></li>
        <li class="categories-list__item"><a class="category" href="#">360 Insights blog</a></li>
        <li class="categories-list__item"><a class="category category--active" href="#">Technical blog</a></li>
        <li class="categories-list__item"><a class="category" href="#">Government data</a></li>
        <li class="categories-list__item"><a class="category" href="#">Innovation is grantmaking</a></li>
        <li class="categories-list__item"><a class="category" href="#">Understanding civil society</a></li>
        <li class="categories-list__item"><a class="category" href="#">Follow the funding</a></li>
        <li class="categories-list__item"><a class="category" href="#">Data Champions</a></li>
        <li class="categories-list__item"><a class="category" href="#">Events</a></li>
        <li class="categories-list__item"><a class="category" href="#">360 Update</a></li>
    </ul>
</div>


 






