.sidebar-blog {
    text-align: right;
    padding-top: 0px;

    &__heading {
      padding: 0 32px 8px;
      margin: 0;
      font-weight: 400;
    }

    &__text{
      padding: 102px;
      max-width:700px;
    }
}

.categories-list {
  list-style: none;
}

.category {
  padding: 8px 32px;
  display: block;
  color: rgba($black, .6);

  &:hover {
    background-color: rgba($black, .1);
    background: linear-gradient(90deg, rgba($black, 0) 0%, rgba($black, .1) 100%);
  }

  &--active {
    background-color: rgba($teal, .1);
    background: linear-gradient(90deg, rgba($teal, 0) 0%, rgba($teal, .3) 100%);
  }
}

