.prose__section,
.prose__section .section { 
  > * + * { margin-top: 1rem; }
  .grid > * + * { margin-top: 0; } // Patches a conflict when a .grid is inserted inside a .prose__section

  .media-card {
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;

    &__content {
      padding-top: 1.8rem;
      padding-bottom: 1.8rem;
    }
    h3 { margin: 0; }
  }
}

.prose,
.prose table,
.p {
  @include text;
}

.prose a {
  font-weight: inherit;
  color: hsla(var(--teal-dark-hsl), 1);

  &:hover {
    background-color: hsl(var(--teal-hsl), 0.1);
  }

  &.button {
    text-decoration: none;
    color: var(--text-color);
  }

  @media print {
    font-weight: bolder;
    text-decoration: none;
    
    &[href^=http]:after {
        content:" (" attr(href) ")";
    }
  }
}

.prose__author {
  font-style: italic;
  padding-bottom: 32px;
  a { color: hsla(var(--teal-dark-hsl), 1);}
}

.prose h1, 
.h1 {
  @include h1;
  line-height: 1.3;
}

.prose .intro,
// .prose > p:not[class="prose__author"]:first-of-type, // adding specificity 0020 to be higher than the 0011 of .prose p {...}(line 5)
.intro,
.prose__intro p {
  @include big-lead;
}

.prose h2,
.h2 {
  @include h2;
}

.prose h3,
.h3 {
  @include h3;
}

.prose h4,
.h4 {
  @include h4;
}

.prose h5,
.h5 {
  @include h5;
}

.prose h6,
.h6 {
  @include h6;
}

.prose {
  ul, ol {
    padding-bottom: 1.4rem;
    padding-top: 1.4rem;
    padding-left: 0;

    li + li { margin-top: 1rem;}
  }
  
  ol {
    > li {
      margin-left: 24px;
      &::marker {
        color: hsla(var(--teal-dark-hsl), 1);
      }
    }
  }
  
  ul {
    > li {
      margin-left: 24px;
      &::marker {
        color: hsla(var(--teal-hsl), 1);
        font-size: 1.3rem;
      }
    }
  }
  
  max-width: 800px;
  margin: 0 auto;

  &--left {
    margin: 0 2rem;

    & ol {
      margin-left: 42px;
    }
  }

  h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  h2, h3, h4, h5, h6, .intro {
    margin-top: 3rem;
    margin-bottom: 1.4rem;
  }

  &__intro, 
  > p:first-of-type { margin-bottom: 2rem; }
  &__section + &__section { padding-top: 1.4rem; }

  .box {
    margin-bottom: 1.4rem;
    margin-top: 1.4rem;
  }

  @media print {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
  }
}

.prose blockquote,
.prose blockquote p {
  line-height: 1.6;
  color: hsla(var(--orange-dark-hsl), 1);
  position: relative;
  z-index: 1;
}

.prose blockquote {
  padding-left: 4rem;

  &:before {
    content: "format_quote";
    transform: scaleX(-0.9);
    font-size: 10rem;
    @extend .u-material-icons; 
    position: absolute;
    left: -65px;
    top: -50px;
    color: hsla(var(--orange-hsl), .15);
    z-index: -1;
  }

  @media print {
    &:before {
      content: "";
    }

    margin-left: 5mm;
    padding-left: 5mm;
    font-style: italic;
    border-left: 3px solid hsla(var(--orange-hsl), .2);
  }
}

.prose blockquote {
  p + p { padding-top: .8rem; }
}

.prose {

  &__h1-long {
    margin-bottom: 1.5rem;
    margin-top: 0;
    font-size: 2.2rem;
    line-height: 1.5;
  }
}

.prose--wp {
  /* = WordPress Core -------------------------------------------------------------- */
  .alignnone {
    margin: 5px 20px 20px 0;
  }

  .aligncenter,
  div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
  }

  .alignright {
    float: right;
    margin: 5px 0 20px 20px;
  }

  .alignleft {
    float: left;
    margin: 5px 20px 20px 0;
  }

  a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
  }

  a img.alignnone {
    margin: 5px 20px 20px 0;
  }

  a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
  }

  a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
  }

  .wp-caption.alignnone {
    margin: 5px 20px 20px 0;
  }

  .wp-caption.alignleft {
    margin: 5px 20px 20px 0;
  }

  .wp-caption.alignright {
    margin: 5px 0 20px 20px;
  }

  .wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
  }

  .wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
  }

  /* Text meant only for screen readers. */
  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
  }

  .screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
  /* Above WP toolbar. */
  }

  img[class*="wp-image-"] {
    height: auto;
    width: auto;
  }
}

