<div class="prose">
    <section class="prose__section prose__intro">
        <h1 class="h1">Spreadsheet format</h1>
        <p class="intro">To produce 360Giving data in a spreadsheet, it is possible to start with an empty spreadsheet and construct the column titles (and any additional sheets), using the information given below.</p>
    </section>

    <section class="prose__section">
        <p>Lorem ipsum dolor sit, amet consectetur, adipisicing elit. Fuga nesciunt culpa pariatur assumenda corrupti consectetur quibusdam reprehenderit commodi dolore natus praesentium repudiandae possimus sunt, eos, beatae quod maiores, incidunt soluta!</p>

        {% render '@prose-figure' %}

        <h2>This is a level 2 heading</h2>

        <ol>
            <li>Where data producers have more complex information, for example where a grant has many beneficiary locations, we call this a One to many relationships. Information about how to create data with One to many relationships is described below.</li>
            <li>The 360Giving Spreadsheet <a href="#">template consists</a> of a ‘grants’ sheet which contains the most common data fields.</li>
            <li>The Additional fields section provides details of all other possible fields that can be reported. (These are derived from the 360Giving JSON Schemas ).</li>
        </ol>

        <h3>Nested list</h3>

        <ol>
            <li>Where data producers have more complex information, for example where a grant has many beneficiary locations, we call this a One to many relationships. Information about how to create data with One to many relationships is described below.</li>
            <li>
                <p>The 360Giving Spreadsheet <a href="#">template consists</a> of a ‘grants’ sheet which contains the most common data fields.</p>
                <blockquote>
                    <p>Many data producers will be able to fit all the information about a single grant on one row of a spreadsheet. In fact most data producers do exactly that, and provide a single sheet with many individual grants.</p>
                </blockquote>
                <ul>
                    <li>Where data producers have more complex information, for example where a grant has many beneficiary locations, we call this a One to many relationships. Information about how to create data with One to many relationships is described below.</li>
                    <li>The 360Giving Spreadsheet template consists of a ‘grants’ sheet which contains the most common data fields.</li>
                    <li>The Additional fields section provides details of all other possible fields that can be reported. (These are derived from the 360Giving JSON Schemas ).</li>
                </ul>
            </li>
            <li>The Additional fields section provides details of all other possible fields that can be reported. (These are derived from the 360Giving JSON Schemas ).</li>
        </ol>

        <h4>This is a heading 4</h4>

        <blockquote>
            <p>Many data producers will be able to fit all the information about a single grant on one row of a spreadsheet. In fact most data producers do exactly that, and provide a single sheet with many individual grants.</p>
            <p>Many data producers will be able to fit all the information about a single grant on one row of a spreadsheet. In fact most data producers do exactly that, and provide a single sheet with many individual grants.</p>
            <p>Many data producers will be able to fit all the information about a single grant on one row of a spreadsheet. In fact most data producers do exactly that, and provide a single sheet with many individual grants.</p>
            <p>Many data producers will be able to fit all the information about a single grant on one row of a spreadsheet. In fact most data producers do exactly that, and provide a single sheet with many individual grants.</p>
        </blockquote>

        <h2>Spreadsheet template</h2>
        <p>For convenience we provide a <a href="#">360Giving Spreadsheet Template</a> that can be used directly, or adapted to your needs.</p>
        <p>The template is a multi-sheet <strong><a href="#">spreadsheet</a></strong>, and each sheet is described below.</p>
        <p>Many data producers will be able to fit all the information about a single grant on one row of a spreadsheet. In fact most data producers do exactly that, and provide a single sheet with many individual grants.</p>

        {% render '@media-card' %}        

        <ul>
            <li>Where data producers have more complex information, for example where a grant has many beneficiary locations, we call this a One to many relationships. Information about how to create data with One to many relationships is described below.</li>
            <li>The 360Giving Spreadsheet template consists of a ‘grants’ sheet which contains the most common data fields.</li>
            <li>The Additional fields section provides details of all other possible fields that can be reported. (These are derived from the 360Giving JSON Schemas ).</li>
        </ul>

        <h5>This is a heading 5</h5>
        <p>Data in JSON format is ideal for direct use by developers building visualisations and web apps. The JSON should conform to the 360Giving JSON Schemas. Anyone automating the publication of their data from their internal databases or via an API may favour this format. The column titles used in spreadsheet representations of data are derived directly from the 360Giving JSON Schemas.</p>
        <p>Lorem ipsum dolor sit, amet consectetur, adipisicing elit. Fuga nesciunt culpa pariatur assumenda corrupti consectetur quibusdam reprehenderit commodi dolore natus praesentium repudiandae possimus sunt, eos, beatae quod maiores, incidunt soluta!</p>
        
        <p>Ea incidunt maxime sunt ipsa repellat dolorem, aperiam quas nemo natus tempore enim id totam blanditiis error rerum debitis vel laboriosam doloribus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea incidunt maxime sunt ipsa repellat dolorem, aperiam quas nemo natus tempore enim id totam blanditiis error rerum debitis vel laboriosam doloribus.</p>


        {# {% render '@code-block' %} #}

        {% render '@box' %}

        <h3>Spreadsheet</h3>
        <p>Data placed in a spreadsheet can make use of easy to read, user-friendly column titles, and is ideal for recording one grant per row. This is the most common format that publishers choose. More complex representations of data can also be reported if required.</p>

        {% render '@table' %}

        <h4>json</h4>
        <p>Data in JSON format is ideal for direct use by developers building visualisations and web apps. The JSON should conform to the 360Giving JSON Schemas. Anyone automating the publication of their data from their internal databases or via an API may favour this format. The column titles used in spreadsheet representations of data are derived directly from the 360Giving JSON Schemas.</p>

        <ol>
            <li>Where data producers have more complex information, for example where a grant has many beneficiary locations, we call this a One to many relationships. Information about how to create data with One to many relationships is described below.</li>
            <li>The 360Giving Spreadsheet template consists of a ‘grants’ sheet which contains the most common data fields.</li>
            <li>The Additional fields section provides details of all other possible fields that can be reported. (These are derived from the 360Giving JSON Schemas ).</li>
        </ol>

        <h1>This is a heading 1</h1>
        <p>Data in JSON format is ideal for direct use by developers building visualisations and web apps. The JSON should conform to the 360Giving JSON Schemas. Anyone automating the publication of their data from their internal databases or via an API may favour this format. The column titles used in spreadsheet representations of data are derived directly from the 360Giving JSON Schemas.</p>

        <h2>This is a heading 2</h2>
        <p>Data in JSON format is ideal for direct use by developers building visualisations and web apps. The JSON should conform to the 360Giving JSON Schemas. Anyone automating the publication of their data from their internal databases or via an API may favour this format. The column titles used in spreadsheet representations of data are derived directly from the 360Giving JSON Schemas.</p>
 
        <h3>This is a heading 3</h3>
        <p>Data in JSON format is ideal for direct use by developers building visualisations and web apps. The JSON should conform to the 360Giving JSON Schemas. Anyone automating the publication of their data from their internal databases or via an API may favour this format. The column titles used in spreadsheet representations of data are derived directly from the 360Giving JSON Schemas.</p>

        <h4>This is a heading 4</h4>
        <p>Data in JSON format is ideal for direct use by developers building visualisations and web apps. The JSON should conform to the 360Giving JSON Schemas. Anyone automating the publication of their data from their internal databases or via an API may favour this format. The column titles used in spreadsheet representations of data are derived directly from the 360Giving JSON Schemas.</p>

        <h5>This is a heading 5</h5>
        <p>Data in JSON format is ideal for direct use by developers building visualisations and web apps. The JSON should conform to the 360Giving JSON Schemas. Anyone automating the publication of their data from their internal databases or via an API may favour this format. The column titles used in spreadsheet representations of data are derived directly from the 360Giving JSON Schemas.</p>

        <h6>This is a heading 6</h6>
        <p>Data in JSON format is ideal for direct use by developers building visualisations and web apps. The JSON should conform to the 360Giving JSON Schemas. Anyone automating the publication of their data from their internal databases or via an API may favour this format. The column titles used in spreadsheet representations of data are derived directly from the 360Giving JSON Schemas.</p>
    </section>
</div>    