.sidebar-section {
  --sidebar-bg-hsl: var(--base-hsl);
  margin-top: 88px;
  box-shadow: 4px 0 8px hsla(var(--base-hsl), .1);
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 24px;
  position: relative;

  &:before {
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: hsla(var(--sidebar-bg-hsl), 1);
  }
}

.sidebar-section--fixed {
  top: 0;
  position: sticky;
}

.sidebar-section--orange { --sidebar-bg-hsl: var(--orange-dark-hsl); }
.sidebar-section--teal   { --sidebar-bg-hsl: var(--teal-dark-hsl);   }
.sidebar-section--yellow { --sidebar-bg-hsl: var(--yellow-dark-hsl); }
.sidebar-section--red    { --sidebar-bg-hsl: var(--red-hsl);         }
