<div class="sidebar-section sidebar-section--orange sidebar-section--fixed">
  <div class="layout__content-inner">
    <div class="sidebar-section__item">
      {% render '@sidebar-blog' %}
    </div>
  </div>
</div>