<div class="sidebar-section">
  <div class="layout__content-inner">
    <div class="sidebar-setcion__item">
      {% render '@sidebar-list' %}
      {% render '@sidebar-content' %}
    </div>
  </div>
</div>