.sidebar-text {
  padding: 16px 32px;
  text-align: right;

  &__heading {
    font-size: 1rem;
    font-weight: bold;
    color: currentColor;
  }

  &__content { 
    font-size: .9rem; 
    color: $base-color;
  }
}

.sidebar-text--orange { color: $orange; }
.sidebar-text--teal   { color:   $teal; }
.sidebar-text--yellow { color: $yellow; }
.sidebar-text--red    { color:    $red; }