<section class="grid grid--five-columns">
    <div class="grid__1">
        <p>Grid Item</p>
    </div>
    <div class="grid__1">
        <p>Grid Item</p>
    </div>
    <div class="grid__1">
        <p>Grid Item</p>
    </div>

    <div class="grid__1">
        <p>Grid Item</p>
    </div>

    <div class="grid__1">
        <p>Grid Item</p>
    </div>
</section>
