<footer class="footer footer--compact">

  <div class="footer__row wrapper__left footer__small-print">
    <div class="footer__column-1">
      <div class="footer__logo"><img src="/images/360-giving-logo-white.svg" alt="360Giving"></div>
      </div>
      
    <div class="footer__column-2 footer__policy-links">
      <p>
        <strong>360 Giving</strong> (Trading as <strong>360Giving</strong>) is a registered charity <a href="https://register-of-charities.charitycommission.gov.uk/charity-details/?regId=1164883&subId=0">1164883</a> and a registered company <a href="https://beta.companieshouse.gov.uk/company/09668396">09668396</a>.
         <br>Registered address: 360 Giving, c/o Sayer Vincent, 110 Golden Lane, London, EC1Y 0TG
      </p>
    </div>
  </div>

  <div class="footer__row wrapper__left footer__small-print">
    
    <div class="footer__column-2">
    <p>© Copyright 2021 360Giving.<br>Licensed under a <a href="#" target="_blank">Creative Commons Attribution 4.0 International License</a>.</p>
    </div>
    <div class="footer__column-2 footer__policy-links hide-print">
      <p><a href="#">Privacy Notice</a> | <a href="#">Terms & Conditions</a> | <a href="#">Cookie Policy</a> | <a href="#">Take Down Policy</a> | <a href="#">License</a></p>
    </div>
  </div>
</footer>
