{% extends '@layout--new' %}

{% block header %}
  {% render '@search-block' %}
{% endblock %}

{% block main_content %}
  <div class="grid grid--three-columns">
    {% render '@homepage-card' %}
    {% render '@homepage-card' %}
    {% render '@homepage-card' %}
  </div>
{% endblock %}

