  <div class="base-card base-card--spacious">
    <div class="base-card__content">
      <h2 class="base-card__title">321</h2>
      <p class="base-card__text">Grants</p>
      <p class="base-card__text">
        <a href="#" class="button">Explore</a>
      </p>
    </div>
  </div>

  <br>

  <div class="base-card base-card--spacious base-card--yellow">
    <div class="base-card__content">
      <h2 class="base-card__title">Create</h2>
      <p class="base-card__text">Use data to build tools and visuals</p>
      <p class="base-card__text">
        <a href="#" class="button button--yellow">Share</a>
      </p>
    </div>
  </div>

  <br>

  <div class="base-card base-card--spacious base-card--orange">
    <div class="base-card__content">
      <h2 class="base-card__title">Share</h2>
      <p class="base-card__text">Publish your Data</p>
      <p class="base-card__text">
        <a href="#" class="button button--orange">Share</a>
      </p>
    </div>
  </div>

  <br>

  <div class="base-card base-card--spacious base-card--teal">
    <div class="base-card__content">
      <h2 class="base-card__title">Search</h2>
      <p class="base-card__text">Find funding data to inform</p>
      <p class="base-card__text">
        <a href="#" class="button button--teal">Share</a>
      </p>
    </div>
  </div>

  <br>

  <div class="base-card base-card--spacious base-card--red">
    <div class="base-card__content">
      <h2 class="base-card__title">321</h2>
      <p class="base-card__text">Grants</p>
      <p class="base-card__text">
        <a href="#" class="button button--red">Share</a>
      </p>
    </div>
  </div>
