<div class="base-card base-card--yellow">
  <div class="base-card__content">
    <header class="base-card__header">
      <h3 class="base-card__heading">Amount awarded</h3>
      <h4 class="base-card__subheading">(number of grants) Based on 526 grants</h4>
    </header>
    {% render '@bar-chart' %}
  </div>
</div>
