<div class="dashboard-stats-card dashboard-stats-card--grant">
  <div class="dashboard-stats-card__head">
    <div class="dashboard-stats-card__left-side">
      <h3 class="dashboard-stats-card__title">{{ title }}</h3>
      <p class="dashboard-stats-card__description">{{ description }}</p>
    </div>

    <div class="dashboard-stats-card__right-side">    
      {% render '@alert-tag--general', { label: info_label } %}
    </div>
  </div>

  <div class="dashboard-stats-card__groups">
    {% for stat in stats %}
      <div class="dashboard-stats-card__group">
        <span>{% render '@icon--orange', { icon_name: stat.icon_name } %}</span>
        <span>{{ stat.label }}</span>
        <span class="dashboard-stats-card__value">{{ stat.value }}</span>
      </div>
    {% endfor %}
  </div>

  <div class="spacer-2"></div>

  {% if graph_description %}
    {% render '@separator' %}

    <div class="graph-label">{{ graph_description }}</div>
    <div class="graph-container">
      <img src="assets/images/dashboard-samples/overview-graph-grants-with-org-ids.png" alt="Grants with organisation IDs">
    </div>
  {% endif %}
</div>
