<div class="card">
  <div class="card__content">
    <h2 class="card__title">321</h2>
    <p class="card__text">Grants</p>
    <p class="card__text">
      <a href="#" class="button">Explore</a>
    </p>
  </div>
</div>

<br>

<div class="card card--yellow">
  <div class="card__content">
    <h2 class="card__title">Create</h2>
    <p class="card__text">Use data to build tools and visuals</p>
    <p class="card__text">
      <a href="#" class="button button--yellow">Share</a>
    </p>
  </div>
</div>

<br>

<div class="card card--orange">
  <div class="card__content">
    <h2 class="card__title">Share</h2>
    <p class="card__text">Publish your Data</p>
    <p class="card__text">
      <a href="#" class="button button--orange">Share</a>
    </p>
  </div>
</div>

<br>

<div class="card card--teal">
  <div class="card__content">
    <h2 class="card__title">Search</h2>
    <p class="card__text">Find funding data to inform</p>
    <p class="card__text">
      <a href="#" class="button button--teal">Share</a>
    </p>
  </div>
</div>

<br>

<div class="card card--red">
  <div class="card__content">
    <h2 class="card__title">321</h2>
    <p class="card__text">Grants</p>
    <p class="card__text">
      <a href="#" class="button button--red">Share</a>
    </p>
  </div>
</div>