{% extends '@layout' %}

{% set description = 'Search, explore and download UK grants data published by funders in the 360Giving Data Standard.' %}
{% set submit_text = 'Search' %}

{% block header %}
  {% include '@search-block' %}
{% endblock %}

{% block main_content %}
  <div class="grid grid--three-columns">
    {% include '@homepage-card' %}
    {% include '@homepage-card' %}
    {% include '@homepage-card' %}
  </div>
{% endblock %}

