<div class="box box--clickable box--red">
  <h3>Developers</h3>
  <p>For a JSON feed of published datasets visit</p>
  <a href="http://standard.threesixtygiving.org/en/latest/getdata/"
     class="button button--red"
     target="_blank">standard.threesixtygiving.org</a>
</div>
