.filter-panel {
  border-top: 1px solid rgba($black, .2);
  border-bottom: 1px solid rgba($black, .2);
  padding: 24px 0;

  h4 { margin: 0; }

  &__item {
    padding: 8px 0;
  }
  
}

.range-filter {
  input[type="checkbox"] { display: none; }
  label { 
    clear: right; 

  }
  label:after { content: attr(data-value); }
}
