.filter-panel {
  border-top: 1px solid rgba($black, .2);
  border-bottom: 1px solid rgba($black, .2);
  padding: 24px 0;
}

.range-filter {
  display: flex;

  input[type="checkbox"] { display: none; }
  label {
    flex: 1;
    height: 8px;
    margin-right: 4px;
    background-color: rgba($orange, .2);
    position: relative;
  }

  label:hover:after {
    content: attr(data-value);
    font-size: 1rem;
    color: $black;
    position: absolute;
    top: 16px;
    width: 100px;
    height: 20px;
  }

  label:hover { background-color: rgba($orange, .4); }
  input[type="checkbox"]:checked + label { background-color: rgba($orange, 1); }
}