.button {
    display: inline-block;
    margin: 4px;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    padding: 1ex 4ex 1.2ex 4ex;
    border: 0.5px solid var(--colors-dark-blue);
    background-color: var(--colors-dark-blue);
    color: var(--colors-white);
    text-transform: uppercase;
    text-decoration: none;
    transition: box-shadow 0.23s ease-in-out;

    &:hover, &:focus, &:active {
        cursor: pointer;
        background-color: var(--colors-dark-blue) !important;
        color: var(--colors-white) !important;
        text-decoration: none;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    }

    &--block {
        display: block;
        margin: 4px auto;
        width: 100%;
        max-width: 100%;

        @include breakpoint($regular) {
            width: 352px;
        }
    }

    &--secondary {
        color: var(--colors-dark-blue);
        background-color: var(--colors-white) !important;
        background-color: transparent !important;
        box-shadow: none !important;

        &.button--green {
            color: var(--colors-green);
        }

        &.button--purple {
            color: var(--colors-purple);
        }

        &.button--orange {
            color: var(--colors-orange);
        }
    }

    &--green {
        background-color: var(--colors-green);
        color: var(--colors-dark-blue);
        border-color: var(--colors-green);

        &:hover, &:focus, &:active {
            background-color: var(--colors-green) !important;
            color: var(--colors-dark-blue) !important;
        }
    }

    &--purple {
        background-color: var(--colors-purple);
        color: var(--colors-white);
        border-color: var(--colors-purple);

        &:hover, &:focus, &:active {
            background-color: var(--colors-purple) !important;
            color: var(--colors-white) !important;
        }
    }

    &--orange {
        background-color: var(--colors-orange);
        color: var(--colors-white);
        border-color: var(--colors-orange);

        &:hover, &:focus, &:active {
            background-color: var(--colors-orange) !important;
            color: var(--colors-white) !important;
        }
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
        pointer-events: visible;
    }
}