<div id="logos" class="wrapper">
  <section id="main_logo">
    {% set main_logo = logos | first %}
    <img src="assets/images/360-logos/{{ main_logo.file }}" alt="{{ main_logo.name }}">
  </section>
  <section class="grid grid--three-columns">
  {% for i in logos %}
  <div class="grid__1">
    <div class="base-card base-card--spacious">
      <div class="base-card__content">
        <img src="assets/images/360-logos/{{ i.file }}" alt="{{ i.name }}">
        <a class="button button--small" href="assets/images/360-logos/{{ i.file }}" download>Download</a>
      </div>
    </div>
  </div>
  {% endfor %}
  </section>
</div>