// [Breakpoints]
$small-only: '(max-width: 35.98em)';
$medium: '(min-width: 36em)';
$medium-only: '(min-width: 36em) and (max-width: 59.98em)';
$medium-max: '(max-width: 59.98em)';
$regular: '(min-width: 60em)';
$regular-only: '(min-width: 60em) and (max-width: 84.98em)';
$large: '(min-width: 85em)';
$large-only: '(min-width: 85em) and (max-width: 104.98em)';
$x-large: '(min-width: 105em)';

// Temp Variables
$medium-up: $medium;
$touch: $medium-max;


@import 'breakpoints';

// Colours Absolute
$black: #153634;
$orange: #DE6E26;
$teal: #4DACB6;
$yellow: #EFC329;
$red: #BC2C26;
$white: white;

// Colours Relative
$main-color: $orange;
$base-color: $black;

:root {
    --text-base-size: 1rem;
    --text-base-line-height: 1.62;

    --fonts-primary: 'Roboto', sans-serif;
    
    // Maintaining these Variables here, for the Fractal internal use. 
    --colors-default: $black;
    --colors-white: #FFFFFF;
    --colors-orange: $orange;
    --colors-teal: $teal;
    --colors-yellow: $yellow;
    --colors-red: $red;

    --colors-alt: --colors-teal;
    --colors-black: --colors-default;

    @include breakpoint($regular) {
        // Edited this variable from 1.25rem.
        --text-base-size: 1rem;
    }
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.u-material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.u-transition { transition: all .4s ease; }

@mixin placeholder {
  // This mixin isn't working.
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder { @content }
  &::-moz-placeholder { @content }
  &:-ms-input-placeholder { @content }
}

.small-only { @include breakpoint($medium) { display: none !important; } }
.medium-up { @include breakpoint($small-only) { display: none !important; } }


.fadein {
  // The attributes for these transitions are controlled directly in the scripts.js
  &--from-right { }
  &--from-left { }
  &--from-top { }
  &--from-bottom { }
}

