{# create this using the fractal variants #}
<div class="container">
<h1>Buttons</h1>

<p class="intro">
These styles have been adapted from the latest WP theme.
</p>

<h2>Default buttons</h2>
<p class="wp-block-buttons">
<a href="#" class="button">Button default</a>
<button class="button button--dark-teal">Button dark teal</button>
<button class="button button--orange">Button orange</button>
<button class="button button--yellow">Button yellow</button>
<button class="button button--red">Button red</button>
<button class="button button--green">Button green</button>
<button class="button button--black">Button black</button>
</p>

<h2>Buttons with arrow</h2>
<p class="wp-block-buttons">
<button class="button button--arrow-right">Button default + arrow</button>
<button class="button button--dark-teal button--arrow-right">Button dark teal + arrow</button>
<button class="button button--orange button--arrow-right">Button orange + arrow</button>
<button class="button button--yellow button--arrow-right">Button yellow + arrow</button>
<button class="button button--red button--arrow-right">Button red + arrow</button>
<button class="button button--green button--arrow-right">Button green + arrow</button>
<button class="button button--black button--arrow-right">Button black + arrow</button>
</p>

<h2>Small buttons</h2>
<p class="wp-block-buttons">
<a href="#" class="button button--small">Button small default</a>
<button class="button button--small button--dark-teal">Button small teal</button>
<button class="button button--small button--orange">Button small orange</button>
<button class="button button--small button--yellow">Button small yellow</button>
<button class="button button--small button--red">Button small red</button>
<button class="button button--small button--green">Button small green</button>
<button class="button button--small button--black">Button small black</button>
</p>

<h2>Small buttons with arrow</h2>
<p class="wp-block-buttons">
<button class="button button--small button--arrow-right">Button small + arrow</button>
<button class="button button--small button--dark-teal button--arrow-right">Button dark teal + arrow</button>
<button class="button button--small button--orange button--arrow-right">Button orange + arrow</button>
<button class="button button--small button--yellow button--arrow-right">Button yellow + arrow</button>
<button class="button button--small button--red button--arrow-right">Button red + arrow</button>
<button class="button button--small button--green button--arrow-right">Button green + arrow</button>
<button class="button button--small button--black button--arrow-right">Button black + arrow</button>
</p>

<h2>Disabled buttons</h2>
<p class="wp-block-buttons">
<button class="button button--disabled">Button</button>
<button class="button button--disabled button--dark-teal">Button dark teal</button>
<button class="button button--disabled button--orange">Button orange</button>
<button class="button button--disabled button--yellow">Button yellow</button>
<button class="button button--disabled button--red">Button red</button>
<button class="button button--disabled button--green">Button green</button>
<button class="button button--disabled button--black">Button black</button>
<button class="button button--small button--disabled">Button small</button>
<button class="button button--small button--disabled button--dark-teal">Button dark teal</button>
<button class="button button--small button--disabled button--orange">Button orange</button>
<button class="button button--small button--disabled button--yellow">Button yellow</button>
<button class="button button--small button--disabled button--red">Button red</button>
<button class="button button--small button--disabled button--green">Button green</button>
<button class="button button--small button--disabled button--black">Button black</button>
</p>
</div>