{# create this using the fractal variants #}

<p>
<a href="#" class="button">Button</a>
<button class="button button--orange">Button Orange</button>
<button class="button button--teal">Button teal</button>
<button class="button button--yellow">Button yellow</button>
<button class="button button--red">Button red</button>
<button class="button button--black">Button black</button>
<button class="button button--disabled">Button disabled</button>
</p>

<p>
<a href="#" class="button button--large">Button</a>
<button class="button button--large button--orange">Button Orange</button>
<button class="button button--large button--teal">Button teal</button>
<button class="button button--large button--yellow">Button yellow</button>
<button class="button button--large button--red">Button red</button>
<button class="button button--large button--black">Button black</button>
<button class="button button--large button--disabled">Button disabled</button>
</p>

<p>
<a href="#" class="button button--small">Button</a>
<button class="button button--small button--orange">Button Orange</button>
<button class="button button--small button--teal">Button teal</button>
<button class="button button--small button--yellow">Button yellow</button>
<button class="button button--small button--red">Button red</button>
<button class="button button--small button--black">Button black</button>
<button class="button button--small button--disabled">Button disabled</button>
</p>
