.button {
  --border-color: $base-color;
  --text-color: $base-color;
  border: 2px solid var(--border-color);
  color: var(--text-color);
  display: inline-block;
  border-radius: 3px;
  padding: 6px 24px 8px;
  font-size: 1rem;
  font-weight: 400;


&.button--small {
  padding: 2px 16px 2px;
  border-width: 1px;
  font-size: .9rem;
}

&.button--large {
  padding: 10px 32px 12px;
  border-width: 3px;
  font-size: 1.3rem;
}

&.button--unstyled {
  border: 0;
  padding: 0;
}

&.button--white { 
  --border-color: $white;
  --text-color: $white;
}
&.button--orange { 
  --border-color: var(--color-orange);
  --text-color: var(--color-orange-dark);
}
&.button--teal { 
  --border-color: var(--color-teal);
  --text-color: var(--color-teal-dark);
}
&.button--yellow { 
  --border-color: var(--color-yellow);
  --text-color: var(--color-yellow-dark);
}
&.button--red { 
  --border-color: var(--color-red);
  --text-color: var(--color-red);
}
&.button--disabled { 
  opacity: .3;
  pointer-events: none;
}

}