.registry-card { display: flex; }
.registry-card__content { flex: 1; }

.registry-card {
  // This is a partial implementation of the theme colors. 
  // This card falls back to teal instead of base > transparent
  --registry-card-border-hsl: var(--teal-hsl); 

  background: hsla(var(--white-hsl), 1);
  box-shadow: 0px 4px 8px hsla(var(--base-hsl), .15);
  position: relative;
  padding: 16px 24px 16px 24px;  
  
  @include breakpoint($large) { padding: 32px 40px 16px 40px; }
}

.registry-card:before {
  content: '';
  width: 4px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(var(--registry-card-border-hsl, transparent), 1);
}

.registry-card__pub-logo { width: 132px; }

.registry-card__pub-name {
  font-size: 1.5rem;
  color: hsla(var(--base-hsl), 1);
  font-weight: 300;
}
  
.registry-card__content { margin-left: 32px; }
  
.registry-card__list {
  list-style: none;
  padding-left: 0;
}

.registry-grant { width: 100%; }

.registry-grant td { 
  border: 0;
  padding: 0; 
  vertical-align: top;
}

.registry-grant__line {
  font-style: normal;
  font-weight: 300;
}
  
.registry-grant--title-line td { 
  padding-top: 12px; 
  font-weight: 400;
  padding-bottom: 4px;
}

.registry-grant--amounts-line td { 
  line-height: 1.3;
  border-bottom: 0;
}

.registry-grant--data-line { border-bottom: 1px solid hsla(var(--base-hsl), .1); }
.registry-grant td { padding: 8px 0 16px; }
.registry-grant:last-child { border-bottom: 0; }

.registry-grant__records,
.registry-grant__validation { width: 35%; }

.registry-grant__spacer { padding-left: 24px; }
  
.registry-grant__pub-date,
.registry-grant__download { width: 40%; }

.registry-grant__title { width: 100%; }
  
.registry-grant__amount,
.registry-grant__license { 
  width: 100%; 
  text-align: right;
}

.registry-grant__amount { margin-bottom: 8; }
.registry-grant__license a { margin-left: 32px; }
.registry-grant__validation > i { vertical-align: -7px; }
.registry-grant--validated > i { color: $teal; }
.registry-grant--invalid > i { color: $red; }

.registry-grant__grant-n,
.registry-grant__amount-n { font-size: 1.6rem; }

.registry-grant__grant-n { font-weight: 300; }
.registry-grant__amount-n { font-weight: 400; }

.registry-grant__file {
  padding: 0 12px 0;
  border-radius: 20px;
  border: 1px solid currentColor;
  font-weight: 400;
  text-align: center;
  display: inline-block;
}

.registry-grant--xls { color: hsla(var(--orange-hsl), 1); }
.registry-grant--csv { color: hsla(var(--teal-hsl), 1); }
.registry-grant--json { color: hsla(var(--yellow-hsl), 1);; }
.registry-grant--ods { color: hsla(var(--red-hsl), 1);; }

.license { opacity: .4; }  
.license--cc { max-width: 20px; }
.license--ogl { max-width: 32px; }
.license--pddl { max-width: 32px; }
