.categories-list__item ul {
    list-style: none;
}

.categories-list__item>ul>li>ul>li {
    margin-top: 0.8rem;
    font-size: 1rem;
}

.sidebar-blog {
    text-align: left;
}

@media (min-width: 36em) {
    .layout--docs .layout__sidebar {
        width: 380px;
    }
}

.layout--docs .layout__sidebar {
    scrollbar-width: thin;
    overflow-y: scroll;
}

.sidebar-blog__content .categories-list__item>ul {
    display: none;
}

.sidebar-blog__content .categories-list__item.sidebar-list--expanded>ul {
    display: inherit;
}

.sidebar-blog__content ul {
    padding-left: 22px;
}

.sidebar-list__trigger {
    position: inherit;
    padding: 0;
    cursor: pointer;
    float: right;
    transform: rotate(270deg);
    margin-right: -18px;
}

.categories-list__item.sidebar-list--expanded>.sidebar-list__trigger {
    transform: rotate(0deg);
}

.category--active {
    background-color: inherit;
}

.category--active.level-1 {
    background-color: hsl(var(--teal-hsl), 0.2);
}

.categories-list__item>a {
    display: block;
}

.categories-list__item.level-2>a {
    font-weight: inherit;
}

.categories-list__item.category--active.level-2>a,
.categories-list__item.level-1>a {
    font-weight: bold;
}