<article class="media-card media-card--teal">
  <div class="media-card__content">
    <header class="media-card__header">
      <h3 class="media-card__heading">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quod vel voluptas recusandae dignissimos fugit deserunt</h3>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quod vel voluptas recusandae dignissimos fugit deserunt molestiae, quae, blanditiis autem nesciunt odio consectetur error facilis. Ipsum, maiores cumque quo atque. Lorem ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae magni </p>
    <div class="media-card__byline">Written by Rachel Rank on October 30, 2019.</div>
  </div>
  
  <div class="media-card__image-wrapper">
    <div class="media-card__image" style="background-image: url(https://www.threesixtygiving.org/wp-content/uploads/47319360032_51d21156a2_c.jpg)"></div>  
  </div>
  
</article>
