<article class="media-card media-card--orange">
  <div class="media-card__content">
    <header class="media-card__header">
      <h3 class="media-card__heading">Rachel Rank</h3>
      <span class="media-card__subtitle">Chief Operating Officer</span>
      <div class="media-card__links">
        <a href="#" class="media-card__link email"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"/></svg></a>
        <a href="#" class="media-card__link twitter"><svg xmlns="http://www.w3.org/2000/svg" width="32.92" height="26.778" viewBox="0 0 32.92 26.778"><path d="M173.92,190.536a13.013,13.013,0,0,1-3.365,3.488c.428,9.546-6.547,20.132-19.214,20.132A18.327,18.327,0,0,1,141,211.1a13.229,13.229,0,0,0,9.974-2.754,6.882,6.882,0,0,1-6.3-4.712,6.261,6.261,0,0,0,3.06-.122,6.8,6.8,0,0,1-5.446-6.731,6.6,6.6,0,0,0,3.06.857,6.873,6.873,0,0,1-2.08-9.056,19.214,19.214,0,0,0,13.951,7.1,6.764,6.764,0,0,1,11.5-6.18,13.664,13.664,0,0,0,4.344-1.652,6.84,6.84,0,0,1-3,3.733A13.148,13.148,0,0,0,173.92,190.536Z" transform="translate(-141 -187.377)"/></svg></a>
      </div>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quod vel voluptas recusandae dignissimos fugit deserunt molestiae, quae, blanditiis autem nesciunt odio consectetur error facilis. Ipsum, maiores cumque quo atque. Lorem ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae magni. </p>
  </div>
  
  <div class="media-card__image-wrapper">
    <div class="media-card__image" style="background-image: url(https://www.threesixtygiving.org/wp-content/uploads/47319360032_51d21156a2_c.jpg)"></div>  
  </div>
  
</article>
