<ul class="card-list card-list--linked">
  <li class="card-list__item">
    {% render '@media-card' %}
  </li>
  <li class="card-list__item">
    {% render '@media-card--blog' %}
  </li>
  <li class="card-list__item">
    {% render '@registry-card' %}
  </li>
  <li class="card-list__item">
    {% render '@registry-card' %}
  </li>
  <li class="card-list__item">
    {% render '@registry-card' %}
  </li>
  <li class="card-list__item">
    {% render '@registry-card' %}
  </li>
</ul>