.accordion-list {
  --accordion-hsl: var(--teal-hsl);
  --accordion-text-hsl: var(--teal-dark-hsl);

  list-style: none;

  .accordion-list__heading {
    padding: 0;
    margin: 0;
    color: hsla(var(--accordion-text-hsl), 1);
  }

  &__item {
    padding-bottom: 24px;
    counter-increment: items;
    position: relative;

    .accordion:before {
      content: counter(items);
      position: absolute;
      top: 4px;
      right: calc(100% + 32px);
      padding: 4px;
      width: 48px;
      height: 48px;
      border-radius: 100px;
      font-weight: 600;
      font-size: 1.4rem;
      text-align: center;
      border: 2px solid hsla(var(--accordion-hsl), 1);
      color: hsla(var(--accordion-hsl), 1);
      background-color: hsla(var(--white-hsl), 1);
      z-index: 1;
      transition: all .3s ease;
    }

    .accordion--expanded:before {
      background-color: hsla(var(--accordion-hsl), 1);
      color: hsla(var(--white-hsl), 1);
    }

    .accordion:after {
      content: '';
      position: absolute;
      top: 44px;
      right: calc(100% + 54px);
      width: 0;
      height: 100%;
      border: 2px solid hsla(var(--accordion-hsl), 1);
    }

    &:last-of-type .accordion:after { border: 0; }
  }
}

.accordion-list--no-numbers {
  .accordion:before {
    content: 'add';
    @extend .u-material-icons;
    font-size: 1.8rem;
    padding: 8px;
  }

  .accordion--expanded:before {
    transform: rotate(45deg);
  }
}