<div class="prose">
  <section class="accordion-list">
    <div class="accordion-list__item">
      <div class="accordion">
        <h2 class="accordion__trigger accordion-list__heading">Discuss and Plan</h2>
        <section class="prose__section accordion__extra" aria-hidden>
          <p>Publishing will help to improve the accuracy of your data as you delve into the detail of what information you currently collect, how you want to present it and what information is missing. Begin by sketching out where information on your grantmaking is currently held and how often it is updated. Note how you categorise the types of data you gather.</p>
          <p>Talk through your findings with others in your organisation to gauge interest in and support for finding out more about open data publication and the 360Giving Standard.</p>
          <p>You can also learn from the experience of other publishers. We can put you in touch with other grantmakers to share best practice with you.</p>

          <h4>Request your publisher prefix</h4>
          <p>Once you have decided to publish data please contact support@threesixtygiving.org to request your own 360Giving publisher prefix. Your 360Giving prefix is needed to provide every grant with a unique identifier. For further information see our guidance about identifiers.</p>
        </section>
      </div>
    </div>

    <div class="accordion-list__item">
      <div class="accordion">
        <h2 class="accordion__trigger accordion-list__heading">Discuss and Plan</h2>
        <section class="prose__section accordion__extra" aria-hidden>
          <p>Publishing will help to improve the accuracy of your data as you delve into the detail of what information you currently collect, how you want to present it and what information is missing. Begin by sketching out where information on your grantmaking is currently held and how often it is updated. Note how you categorise the types of data you gather.</p>
          <p>Talk through your findings with others in your organisation to gauge interest in and support for finding out more about open data publication and the 360Giving Standard.</p>
          <p>You can also learn from the experience of other publishers. We can put you in touch with other grantmakers to share best practice with you.</p>

          <h4>Request your publisher prefix</h4>
          <p>Once you have decided to publish data please contact support@threesixtygiving.org to request your own 360Giving publisher prefix. Your 360Giving prefix is needed to provide every grant with a unique identifier. For further information see our guidance about identifiers.</p>
        </section>
      </div>
    </div>

    <div class="accordion-list__item">
      <div class="accordion">
        <h2 class="accordion__trigger accordion-list__heading">Discuss and Plan</h2>
        <section class="prose__section accordion__extra" aria-hidden>
          <p>Publishing will help to improve the accuracy of your data as you delve into the detail of what information you currently collect, how you want to present it and what information is missing. Begin by sketching out where information on your grantmaking is currently held and how often it is updated. Note how you categorise the types of data you gather.</p>
          <p>Talk through your findings with others in your organisation to gauge interest in and support for finding out more about open data publication and the 360Giving Standard.</p>
          <p>You can also learn from the experience of other publishers. We can put you in touch with other grantmakers to share best practice with you.</p>

          <h4>Request your publisher prefix</h4>
          <p>Once you have decided to publish data please contact support@threesixtygiving.org to request your own 360Giving publisher prefix. Your 360Giving prefix is needed to provide every grant with a unique identifier. For further information see our guidance about identifiers.</p>
        </section>
      </div>
    </div>
  </section>
</div>