{% extends '@layout--full' %}

{% block header %}
  <div class="base-section">
    <div class="grid grid--single-column">
      <hgroup class="header-group">
        <h3 class="header-group__brow">Grants made by</h3>
        <h2 class="header-group__title">A B Charitable Trust <small>between</small> 2013 and 2019</h2>
      </hgroup>

      <p class="header-group__excerpt">
        <strong>From the 360Giving data registry.</strong> | <a href="#">Download original file (xlsx)</a><br>
        Published by A B Charitable Trust with a Creative Commons Attribution 4.0 International (CC BY 4.0) licence.</p>
    </div>
    
    <div class="spacer-3"></div>

    <div class="grid grid--four-columns">
      <div class="grid__1">
        <div class="base-card base-card--orange">
          <div class="base-card__content">
            <h2 class="base-card__title">593</h2>
            <p class="base-card__text">Grants</p>
          </div>
        </div>
      </div>

      <div class="grid__1">
        <div class="base-card base-card--teal">
          <div class="base-card__content">
            <h2 class="base-card__title">265</h2>
            <p class="base-card__text">Recipients</p>
          </div>
        </div>
      </div>

      <div class="grid__1">
        <div class="base-card base-card--yellow">
          <div class="base-card__content">
            <h2 class="base-card__title">£8.5</h2>
            <p class="base-card__text">Million Total</p>
          </div>
        </div>
      </div>

      <div class="grid__1">
        <div class="base-card base-card--yellow">
          <div class="base-card__content">
            <h2 class="base-card__title">£10k</h2>
            <p class="base-card__text">Average Grant*</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block main_content %}
  
{% render '@filter-panel' %}

<div class="layout__content-inner">
  <div class="grid grid--two-columns">
    <div class="grid__all">{% render '@chart-card' %}</div>
    <div class="grid__1">{% render '@chart-card' %}</div>
    <div class="grid__1">{% render '@chart-card' %}</div>
    <div class="grid__1">{% render '@chart-card' %}</div>
    <div class="grid__1">{% render '@chart-card' %}</div>
  </div>
</div>
{% endblock %}

  
