{% extends '@layout' %}

{% block header %}
<div class="hero-section">
  <div class="wrapper">
    <div class="hero hero--orange">
      <!-- .hero--orange, .hero--yellow, .hero--red -->
      <div class="hero__column hero__logo">
        <a href="/"><img src="/images/360-logos/360giving-insights.svg" alt="360 {{ logo | capitalize }}"></a>
      </div>
      <div class="hero__column hero__lead">
        <h2 class="hero__title">See your grantmaking in new ways</h2>
        <p class="hero__blurb">Combine and visualise 360Giving, charity and other data to answer questions about your grantmaking</p>
      </div>  
    </div>
  </div>
</div>
{% endblock %}

{% block main_content %}
<div class="layout__content-inner">
  <h1>Insights Homepage</h1>

</div>
{% endblock %}
