{% extends '@layout' %}

{% block header %}
<div class="hero-section">
  <div class="wrapper">
    <div class="hero hero--orange">
      <!-- .hero--orange, .hero--yellow, .hero--red -->
      <div class="hero__column hero__logo">
        <a href="/"><img src="/images/360-logos/360giving-insights.svg" alt="360 {{ logo | capitalize }}"></a>
      </div>
      <div class="hero__column hero__lead">
        <h2 class="hero__title">See your grantmaking in new ways</h2>
        <p class="hero__blurb">Combine and visualise 360Giving, charity and other data to answer questions about your grantmaking</p>
      </div>  
    </div>
  </div>
</div>
{% endblock %}

{% block main_content %}
<div class="layout__content-inner">
  <div class="accordion">
    <div class="intro-section">
      <h2>Select a 360Giving dataset <br>or upload a file that meets the 360Giving Standard.</h2>  
      
      <button class="button accordion__trigger">Choose Dataset</button>
      <button class="button button--teal modal__trigger" data-id="modal-01">Upload Dataset</button>

      
      {# 
        This is the Progress Bar component that appears once the file is added to the upload-file modal (#modal-01 below)
        {% render '@progress-bar' %} 
      #}
    </div>
    <div class="accordion__extra" aria-hidden>
      <ul class="card-list">
        {% for i in range(10) %}
        <li class="card-list__item">
        {% render '@insights-card' %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <article class="media-card media-card--orange media-card--self-contained">
    <div class="media-card__content">
      <header class="media-card__header">
        <h3 class="media-card__heading">Data Sources</h3>
      </header>
      <p>Charity data is sourced from <a href="https://findthatcharity.uk/" target="_blank" rel="noreferrer">findthatcharity.uk</a> and postcode data from <a href="https://findthatpostcode.uk/" target="_blank" rel="noreferrer">postcodes.findthatcharity.uk</a>. Company data is fetched using Companies House URIs. All external data is used under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank" rel="noreferrer">Open Government Licence</a>.</p>
      <p><a href="https://insights.threesixtygiving.org/about#data-sources">More about data sources</a></p>
    </div>
  </article>

</div>

<div id="modal-01" class="modal" aria-hidden>
  <div class="modal__overlay modal__trigger" data-id="modal-01"></div>
  <div class="modal__window">
    <button class="modal__close modal__trigger" data-id="modal-01"></button>
    <div class="modal__content">
      {% render '@upload-file' %}
    </div>
  </div>
</div>
{% endblock %}

