{% extends '@layout' %}

{% block header %}
  {% render '@hero' %}
  {% render '@search-breadcrumbs' %}
{% endblock %}

{% block main_content %}
  
  <div class="layout__content-inner">
  {% render '@prose' %}
  </div>
      
{% endblock %}
