{% extends '@layout' %}

{% block header %}
<div class="hero-section">
  <div class="wrapper">
    <div class="hero hero--orange">
      <!-- .hero--orange, .hero--yellow, .hero--red -->
      <div class="hero__column hero__logo">
        <a href="/"><img src="/images/360-logos/360giving-registry.svg" alt="360 {{ logo | capitalize }}"></a>
      </div>
      <div class="hero__column hero__lead">
        <h2 class="hero__title">
        </h2>
        <p class="hero__blurb">
          This registry lists all of the organisations that currently publish data about their grants to the 360Giving data standard.
        </p>
      </div>  
    </div>
  </div>
</div>
{% endblock %}

{% block main_content %}
<div class="layout__content-inner">

  <div class="prose">
    <div class="accordion">
      <section class="prose__section grid grid--two-columns">
        <div class="grid__1">
          <p>Looking to explore the grants data by location, sector or recipient? <a href="http://grantnav.threesixtygiving.org/" target="_blank">Head to GrantNav.</a></p> 
          <p>Looking to build tools or do research with the data? <a href="http://standard.threesixtygiving.org/en/latest/getdata">You’ll find the JSON feed is here.</a></p>
        </div>
        <div class="grid__1">
          <div class="box box--orange"> 
            <h3 class="box__heading">Grant Data</h3>
            <p>Want to publish your grants data openly with the 360Giving standard? Visit our support page or get in touch.</p>
          </div>
        </div>
      </section>
    </div>
  </div>   

  <ul class="card-list">
    {% for i in range(10) %}
    <li class="card-list__item">
    {% render '@registry-card' %}
    </li>
    {% endfor %}
  </ul>
 
</div>
{% endblock %}
