{% extends '@layout--two-columns' %}

{% block main_content %}
  <div class="layout__content-inner">
    <div class="grid">
    {% render '@prose' %}
    </div>
  </div>
  
{% endblock %}

{% block sidebar %}
  
  {% render '@sidebar-section' %}

{% endblock %}