<p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nulla repellat quibusdam doloribus aliquam assumenda dolorem temporibus? Eveniet quod iure quibusdam vero nemo dolorum, veritatis delectus ratione accusamus corrupti vitae?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolores recusandae distinctio. Dignissimos nostrum velit reiciendis ipsum et! Doloribus, nobis molestias? Aspernatur architecto repudiandae delectus asperiores temporibus corporis officia cumque?</p>