.accordion {

  &__trigger {
    cursor: pointer;
  }

  &__extra {
    max-height: 0;
    overflow: hidden;
    transition: all .5s ease;
  }
}

.accordion--expanded .accordion__extra {
  height: auto;
  max-height: 4000px;
}

