<h1>Accordions</h1>
<p>
  This new implemenation is a modified version of the plugin used in the main site. It is a simple accordion that can be used to show and hide content.
</p>
<p>
  Direct siblings will be considered part of a group, so that if the auto-close option is enabled, the item will close when one of the others is opened.
</p>
<p>These are the available options:</p>
<ul>
  <li>
    <code>data-initially-open</code>: Set to <code>true</code> to have the item open by default.
  </li>
  <li>
    <code>data-click-to-close</code>: Set to <code>true</code> to allow the item to be closed by clicking the title.
  </li>
  <li>
    <code>data-auto-close</code>: Set to <code>true</code> to close the item when another item in the group is opened.
  </li>
  <li>
    <code>data-scroll</code>: Set to <code>true</code> to scroll to the item when it is opened.
  </li>
  <li>
    <code>data-scroll-offset</code>: Set to a number to offset the scroll position.
  </li>
</ul>
<div class="c-accordion__item js-accordion-item no-js"
     data-initially-open="false"
     data-click-to-close="true"
     data-auto-close="false"
     data-scroll="false"
     data-scroll-offset="0">
  <h3 class="c-accordion__title">Ask about training or events</h3>
  <div class="c-accordion__content">
    <p>
      For convenience we provide a <a href="#">360Giving Spreadsheet Template</a> that can be used directly, or adapted to your needs.
    </p>
    <p>The template is a multi-sheet spreadsheet, and each sheet is described below.</p>
    <p>
      Many data producers will be able to fit all the information about a single grant on one row of a spreadsheet. In fact most data producers do exactly that, and provide a single sheet with many individual grants.
    </p>
    <h5>This is a heading 5</h5>
    <p>
      Data in JSON format is ideal for direct use by developers building visualisations and web apps. The JSON should conform to the 360Giving JSON Schemas. Anyone automating the publication of their data from their internal databases or via an API may favour this format. The column titles used in spreadsheet representations of data are derived directly from the 360Giving JSON Schemas.
    </p>
    <h6>This is a heading 6</h6>
    <p>
      Data in JSON format is ideal for direct use by developers building visualisations and web apps. The JSON should conform to the 360Giving JSON Schemas. Anyone automating the publication of their data from their internal databases or via an API may favour this format. The column titles used in spreadsheet representations of data are derived directly from the 360Giving JSON Schemas.
    </p>
  </div>
</div>
<div class="c-accordion__item js-accordion-item no-js"
     data-initially-open="false"
     data-click-to-close="true"
     data-auto-close="false"
     data-scroll="false"
     data-scroll-offset="0">
  <h3 class="c-accordion__title">Ask about training or events</h3>
  <div class="c-accordion__content">
    <p>
      For convenience we provide a <a href="#">360Giving Spreadsheet Template</a> that can be used directly, or adapted to your needs.
    </p>
    <p>The template is a multi-sheet spreadsheet, and each sheet is described below.</p>
    <p>
      Many data producers will be able to fit all the information about a single grant on one row of a spreadsheet. In fact most data producers do exactly that, and provide a single sheet with many individual grants.
    </p>
    <h5>This is a heading 5</h5>
    <p>
      Data in JSON format is ideal for direct use by developers building visualisations and web apps. The JSON should conform to the 360Giving JSON Schemas. Anyone automating the publication of their data from their internal databases or via an API may favour this format. The column titles used in spreadsheet representations of data are derived directly from the 360Giving JSON Schemas.
    </p>
    <h6>This is a heading 6</h6>
    <p>
      Data in JSON format is ideal for direct use by developers building visualisations and web apps. The JSON should conform to the 360Giving JSON Schemas. Anyone automating the publication of their data from their internal databases or via an API may favour this format. The column titles used in spreadsheet representations of data are derived directly from the 360Giving JSON Schemas.
    </p>
  </div>
</div>
