.breadcrumbs {
  padding: 8px 0;

  &__item,
  &__arrow {
    vertical-align: middle;
    margin-top: -16px;
    margin-right: 6px;
  }

  &__item { color: rgba($black, .6); }

  &__arrow {
    @extend .u-material-icons;
    margin-bottom: -18px;
    color: rgba($black, .4);
  }

  &__item:last-of-type { color: rgba($black, 1); }
}