<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>
<p class="intro">
  <u>Intro copy</u>: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nulla repellat quibusdam doloribus aliquam assumenda dolorem temporibus? Eveniet quod iure quibusdam vero nemo dolorum, veritatis delectus ratione accusamus corrupti vitae?
</p>
<p>
  <u>Base copy</u>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolores recusandae distinctio. Dignissimos nostrum velit reiciendis ipsum et! Doloribus, nobis molestias? Aspernatur architecto repudiandae delectus asperiores temporibus corporis officia cumque?
</p>
<p class="small-text">
  <u>Small text</u>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolores recusandae distinctio. Dignissimos nostrum velit reiciendis ipsum et! Doloribus, nobis molestias? Aspernatur architecto repudiandae delectus asperiores temporibus corporis officia cumque?
</p>
<p class="x-small-text">
  <u>Extra small text</u>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolores recusandae distinctio. Dignissimos nostrum velit reiciendis ipsum et! Doloribus, nobis molestias? Aspernatur architecto repudiandae delectus asperiores temporibus corporis officia cumque?
</p>
<h2>Heading levels and styles</h2>
<p>
  Headings should <em>always</em> use their correct heading level to give the document a clear structure.
  The visual style of the heading should be controlled by the class, not the element itself.
</p>
<p>
  Below we find a series of h2s, each with a different class applied to it. The class should control the visual style of the heading, not the element itself.
</p>
<h2 class="h1">Heading 2 styled as heading 1</h2>
<h2 class="h2">Heading 2 styled as heading 2</h2>
<h2 class="h3">Heading 2 styled as heading 3</h2>
<h2 class="h4">Heading 2 styled as heading 4</h2>
<h2 class="h5">Heading 2 styled as heading 5</h2>
<h2 class="h6">Heading 2 styled as heading 6</h2>
<h2 class="intro">Heading 2 styled as intro copy</h2>
<h2 class="p">Heading 2 styled as normal paragraph</h2>
<h2 class="small-text">Heading 2 styled as small text</h2>
<h2 class="x-small-text">Heading 2 styled as extra small text</h2>
