// [Breakpoints]
$small-only: '(max-width: 35.98em)';
$medium: '(min-width: 36em)';
$medium-only: '(min-width: 36em) and (max-width: 59.98em)';
$medium-max: '(max-width: 59.98em)';
$regular: '(min-width: 60em)';
$regular-only: '(min-width: 60em) and (max-width: 84.98em)';
$large: '(min-width: 85em)';
$large-only: '(min-width: 85em) and (max-width: 104.98em)';
$x-large: '(min-width: 105em)';

// Temp Variables
$medium-up: $medium;
$touch: $medium-max;

$single-column: 960px;

// Variables for spacing
$s-2: 0.5rem;    // 8px
$s-3: 0.75rem;   // 12px
$s-4: 1.125rem;  // 18px
$s-6: 1.5rem;    // 24px
$s-8: 2rem;      // 32px
$s-10: 2.5rem;   // 40px
$s-12: 3rem;     // 48px
$s-20: 5rem;     // 80px
$s-32: 6rem;     // 96px

@import 'breakpoints';
