<hgroup class="header-group">
  <h4 class="header-group__brow">This is the brow</h2>
  <h2 class="header-group__title">Data Registry</h2>
  <h3 class="header-group__subtitle">111 organisations are publishing grants data <br />to the 360Giving open data standard.</h3>
</hgroup>

<p class="header-group__excerpt">This means they are sharing information about their grantmaking in a way which allows others to use it easily and for free. You can use the table below to download datasets from these organisations.</p>