<h2>Demo form</h2>
<form action="" method="" class="generic-form">
  <input name="" type="hidden" value="00D5t0000008hdL"/>
  <label for="first_name">First Name</label><input id="first_name" maxlength="40" name="first_name" size="20" type="text"/>
  <label for="last_name">Last Name</label><input id="last_name" maxlength="80" name="last_name" size="20" type="text"/>
  <label for="title">Title</label><input id="title" maxlength="40" name="title" size="20" type="text" placeholder="test placeholder"/>
  <label for="email">Email</label><input id="email" maxlength="80" value="email@example.com" name="email" size="20" type="text"/>
  <div class="spacer-3"></div>
  <label>Are you the key contact for 360Giving?:<select id="00N5t000000qiTM" title="Are you the key contact for 360Giving?" name="00N5t000000qiTM">
      <option value="">&#8211;None&#8211;</option>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
      <option value="Don't know yet">Don&#8217;t know yet</option>
    </select>
  </label>
  <label>How comfortable do you feel using data?:<select id="00N5t000000qiTT" title="How comfortable do you feel using data?" name="00N5t000000qiTT">
      <option value="">&#8211;None&#8211;</option>
      <option value="Not comfortable. I know nothing about data.">Not comfortable. I know nothing about data.</option>
      <option value="A bit comfortable. I know what data is - but I work with it rarely.">A bit comfortable. I know what data is &#8211; but I work with it rarely.</option>
      <option value="Somewhat comfortable. I work with people who use data and manage them - but I am not directly involved in using data.">Somewhat comfortable. I work with people who use data and manage them &#8211; but I am not directly involved in using data.</option>
      <option value="Comfortable. I occasionally work with data - mainly on small spreadsheets and using software like Excel.">Comfortable. I occasionally work with data &#8211; mainly on small spreadsheets and using software like Excel.</option>
      <option value="Very comfortable. I work with data on a daily basis.">Very comfortable. I work with data on a daily basis.</option>
    </select>
  </label>
  <label>How can we help you access support?:<textarea id="00N5t000000qiTS" name="00N5t000000qiTS" rows="3" wrap="soft"></textarea>
  </label>
  <label>
    <label for="company">Company</label><input id="company" maxlength="40" name="company" size="20" type="text"/></label>
  <label>
    <label for="url">Website</label><input id="url" maxlength="80" name="url" size="20" type="url"/></label>
  <label>Charity Number:<input id="00N5t000000qiTN" maxlength="15" name="00N5t000000qiTN" size="20" type="text"/></label>
  <label>Company Number:<input id="00N5t000000qiTO" maxlength="15" name="00N5t000000qiTO" size="20" type="text"/></label>
  <label>Funder type:<select id="00N5t000000qiTQ" title="Funder type" name="00N5t000000qiTQ">
      <option value="">&#8211;None&#8211;</option>
      <option value="Family foundation">Family foundation</option>
      <option value="Corporate foundation">Corporate foundation</option>
      <option value="Community foundation">Community foundation</option>
      <option value="Place-based funder">Place-based funder</option>
      <option value="General independent foundation">General independent foundation</option>
      <option value="Public appeal distributor">Public appeal distributor</option>
      <option value="Lottery distributor">Lottery distributor</option>
      <option value="Membership-based funder">Membership-based funder</option>
      <option value="Livery company">Livery company</option>
      <option value="Company giving">Company giving</option>
      <option value="Housing association">Housing association</option>
      <option value="Local authority">Local authority</option>
      <option value="Arms Length Body">Arms Length Body</option>
      <option value="Other public sector funder">Other public sector funder</option>
      <option value="Operational charity making grants">Operational charity making grants</option>
      <option value="NHS Charity">NHS Charity</option>
      <option value="Donor advised fund">Donor advised fund</option>
      <option value="Other">Other</option>
    </select>
  </label>
  <label>Number of Staff:<select id="00N5t000000qiTV" title="Number of Staff" name="00N5t000000qiTV">
      <option value="">&#8211;None&#8211;</option>
      <option value="Voluntary run organisation">Voluntary run organisation</option>
      <option value="1">1</option>
      <option value="2 to 5">2 to 5</option>
      <option value="6 to 9">6 to 9</option>
      <option value="10 to 49">10 to 49</option>
      <option value="50 to 249">50 to 249</option>
      <option value="250 to 499">250 to 499</option>
      <option value="500 or more">500 or more</option>
    </select>
  </label>
  <label>Total value of grants awarded per year:<select id="00N5t000000qiTZ" title="Total value of grants awarded per year" name="00N5t000000qiTZ">
      <option value="">&#8211;None&#8211;</option>
      <option value="Up to £250,000">Up to £250,000</option>
      <option value="£250,000 to £500,000">£250,000 to £500,000</option>
      <option value="£500,001 to £1m">£500,001 to £1m</option>
      <option value="£1m to £5m">£1m to £5m</option>
      <option value="Over £5m">Over £5m</option>
    </select>
  </label>
  <label>Number of grants awarded per year:<select id="00N5t000000qiTW" title="Number of grants awarded per year" name="00N5t000000qiTW">
      <option value="">&#8211;None&#8211;</option>
      <option value="up to 100">up to 100</option>
      <option value="101 to 500">101 to 500</option>
      <option value="501 to 1,000">501 to 1,000</option>
      <option value="1,001 to 5,000">1,001 to 5,000</option>
      <option value="Over 5,000">Over 5,000</option>
    </select>
  </label>
  <label>Who qualifies for your grants?:<select id="00N5t000000qiTa" title="Who qualifies for your grants?" name="00N5t000000qiTa">
      <option value="">&#8211;None&#8211;</option>
      <option value="Organisations">Organisations</option>
      <option value="Individuals">Individuals</option>
      <option value="Both">Both</option>
    </select>
  </label>
  <label>Data publishing scope:<select id="00N5t000000qiTP" title="Data publishing scope" name="00N5t000000qiTP">
      <option value="">&#8211;None&#8211;</option>
      <option value="Historical grants - covering the past 5 years or more">Historical grants &#8211; covering the past 5 years or more</option>
      <option value="Recent grants - covering the past 3 years">Recent grants &#8211; covering the past 3 years</option>
      <option value="Current grants - covering the past financial year">Current grants &#8211; covering the past financial year</option>
      <option value="Forthcoming grants - covering the next financial year">Forthcoming grants &#8211; covering the next financial year</option>
      <option value="Don't know">Don&#8217;t know</option>
    </select>
  </label>
  <label>Grantmaking System (Select):<select id="00N5t000000qiTR" title="Grantmaking System (Select)" name="00N5t000000qiTR">
      <option value="">&#8211;None&#8211;</option>
      <option value="Benefactor">Benefactor</option>
      <option value="Bespoke system">Bespoke system</option>
      <option value="CC Grant Tracker">CC Grant Tracker</option>
      <option value="Digits2">Digits2</option>
      <option value="Flexi-grant">Flexi-grant</option>
      <option value="Fluxx">Fluxx</option>
      <option value="Blackbaud Grantmaking">Blackbaud Grantmaking</option>
      <option value="GMCVO Databases">GMCVO Databases</option>
      <option value="grantFlex">grantFlex</option>
      <option value="Microsoft Dynamics">Microsoft Dynamics</option>
      <option value="None">None</option>
      <option value="Salesforce">Salesforce</option>
      <option value="SmartSimple">SmartSimple</option>
      <option value="Spreadsheets">Spreadsheets</option>
      <option value="Don't know">Don&#8217;t know</option>
      <option value="Other">Other</option>
    </select>
  </label>
  <label>Reason to publish 360Giving data:<textarea id="00N5t000000qiTX" name="00N5t000000qiTX" rows="2" wrap="soft"></textarea>
  </label>
  <label>How did you hear about 360Giving?:<select id="00N5t000000qiTU" title="How did you hear about 360Giving?" name="00N5t000000qiTU">
      <option value="">&#8211;None&#8211;</option>
      <option value="Twitter">Twitter</option>
      <option value="LinkedIn">LinkedIn</option>
      <option value="Newsletter">Newsletter</option>
      <option value="Website">Website</option>
      <option value="Word of mouth">Word of mouth</option>
      <option value="Attended 360Giving workshop">Attended 360Giving workshop</option>
      <option value="Other">Other</option>
    </select>
  </label>
  <label>Any information to help with publishing:<textarea id="00N5t000000qiTL" name="00N5t000000qiTL" rows="3" wrap="soft"></textarea>
  </label>
  <label><input id="lead_source" name="lead_source" type="hidden" value="Web"/>
    <input name="recordType" type="hidden" value="0125t0000008fRO"/></label>
  <div class="g-recaptcha" data-sitekey="6LcNGYogAAAAADclFYm-xwcrTnUt4WhGW9yckdnG"></div>
  <label><input name="submit" type="submit" class="button button--orange"/></label>
</form>

<h2>Checkboxes</h2>
<form class="generic-form">
  <div class="checkbox">
    <input id="00N5t000000qiTY" name="00N5t000000qiTY" type="checkbox" value="1"/>
    <label for="00N5t000000qiTY">Tick to sign up to our newsletter:
    </label>
  </div>
  <div class="radio">
    <input id="00N5t000000qiTX-1" name="00N5t000000qiTX" type="radio" value="value-1"/>
    <label for="00N5t000000qiTX-1">Radio value 1
    </label>
  </div>
  <div class="radio">
    <input id="00N5t000000qiTX-2" name="00N5t000000qiTX" type="radio" value="value-2"/>
    <label for="00N5t000000qiTX-2">Radio value 2
    </label>
  </div>
</form>

<h2>All form inputs</h2>
<form class="generic-form">
  {% for inputtype in inputtypes %}
    <label for="input-{{ inputtype }}">{{ inputtype }}</label><input id="title" maxlength="40" name="title" size="20" type="{{ inputtype }}" placeholder="test placeholder" value="{{inputtype}}"/>
  {% endfor %}
</form>