.dropdown-filter {
  align-items: baseline;
  display: flex;
  gap: 12px;
  white-space: nowrap;

  &__label {
    @include h6;
    margin: 0;
  }

  &__select {
    appearance: none;
    @include small-text;
    background: #fff url(/components/raw/dropdown-filter/drop-arrow.svg) right 0.5rem center no-repeat;
    background-size: 8px 6px;
    border: 1px solid	hsla(var(--base-hsl), 0.7);
    cursor: pointer;
    border-radius: 4px;
    height: 40px;
    padding: 0 2em 0 6px;

    &:focus {
      box-shadow: 0 0 0 4px hsl(var(--yellow-hsl)), inset 0 0 0 2px hsl(var(--base-hsl));
      outline: 4px solid transparent;
      outline-offset: 4px;
    }
  }
}
