.search-block {
  &--advanced {
    padding-top: 26px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background: $orange-tint;
    border-top: 20px solid $orange;

    .search-block__description {
      margin-bottom: 36px;
    }

    input[type="text"] {
      border-radius: 3px;

    }

    input[type="submit"] {
      border-radius: 3px;
      padding: 14px 30px;

      @include breakpoint($medium) {
        padding: 16px 36px;
        font-size: 22px;
      }

      @include breakpoint($regular) {
        padding: 18px 50px;
        font-size: 24px;
      }
    }
  }

  &__form-radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 22px;
    margin-bottom: 22px;

    @include breakpoint($medium) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
    }

    label {
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }

  &__form-group-label {
    font-weight: 400;
    font-size: 18px;
    height: 100%;

    @include breakpoint($medium) {
      margin-top: 10px;
      margin-right: 8px;
      margin-bottom: 6px;
    }
  }

  &__form-action-group {
    display: flex;
    justify-content: center;
    /* text-align: center; */
  }
}
