<div class="search-block search-block--simple">
  <div class="wrapper">
    <div class="search-block__description">{{ description }}</div>
    <div>
      <form role="search" action="{{ form_action }}">
        <label class="search-block__form-item-label" for="search_query">Enter a search term</label>
        <div class="search-block__form-group">
          <input name="search_query" class="form-control large-search" placeholder="Search grants, funders, recipients, locations" type="text">
          <input class="" name="submit" type="submit" value="{{ submit_text }}">
        </div>
      </form>
    </div>
  </div>
</div>
