<div class="search-block search-block--advanced">
  <div class="wrapper">
    <div class="search-block__description">{{ description }}</div>

    <div class="search-block__label">
      {% render '@alert-tag' %}
      <label class="search-block__form-item-label" for="{{ search_name }}">{{ search_label }}</label>
    </div>

    <form role="search" action="{{ form_action }}">
      <div class="search-block__form-group">
        <input name="{{ search_name }}" class="form-control large-search" placeholder="Search grants, funders, recipients, locations" type="text">
      </div>
      <div class="search-block__form-radio-group">
        <div class="search-block__form-group-label">
          Search:
        </div>
        {% render '@radio-buttons' %}
      </div>

      <div class="search-block__form-action-group">
        <input class="" name="submit" type="submit" value="{{ submit_text }}">
      </div>
    </form>
  </div>
</div>
