.blurb {
    color: var(--colors-dark-blue);

    &--left-align {
        text-align: left;
    }

    &--right-align {
        text-align: right;
    }

    &--white-text {
        color: var(--colors-white);
    }

    &-title {
        font-size: 1.2em;
        font-weight: 500;
        line-height: 2;
        text-transform: uppercase;
        margin: 0 0 0.8rem 0;
    }

    &-text {
        font-size: 1em;
        font-weight: 300;
        margin: 0.8rem 0;
    }
}