.box {
	--box-bg-hsl: var(--base-hsl);
	--box-text-hsl: var(--base-hsl);
	background-color: #fff;
	position: relative;
	padding: 24px 24px 24px 24px;

	&:not(.box--clickable) {
		box-shadow: inset 4px 0 0 0 hsla(var(--box-bg-hsl), 1);
		background-color: hsla(var(--box-bg-hsl), 0.1);

		:where(#{$headings}) {
			color: hsla(var(--box-text-hsl), 1);
		}
	}

	@media print {
		box-shadow: none;
		break-inside: avoid;
		padding-left: 0;
		padding-right: 0;
		border-top: 4px solid hsl(var(--box-bg-hsl), 1);
		border-bottom: 4px solid hsl(var(--box-bg-hsl), 1);
	}
}

// Check explanation at the top of this file
.prose .box:only-child {
	margin-top: 0;
}

.box--teal {
	--box-bg-hsl: var(--teal-hsl);
	--box-text-hsl: var(--teal-dark-hsl);
}

.box--orange {
	--box-bg-hsl: var(--orange-hsl);
	--box-text-hsl: var(--orange-dark-hsl);
}

.box--yellow {
	--box-bg-hsl: var(--yellow-hsl);
	--box-text-hsl: var(--yellow-dark-hsl);
}

.box--red {
	--box-bg-hsl: var(--red-hsl);
	--box-text-hsl: var(--red-hsl);
}
