<span class="icon-badge">
  {% if overlaid_text %}
    <span class="icon-badge__overlaid-text">{{ overlaid_text }}</span>
  {% else %}
    <i class="material-icons icon-badge__icon">{{ icon_name }}</i>
  {% endif %}
  {{ label }}
</span>
