<div class="icon" style="--icon-color: var(--color-orange)">
  {% if overlaid_text %}
    <span class="icon__overlaid-text">{{ overlaid_text }}</span>
  {% else %}
    <i class="material-icons icon__mat-icon">{{ icon_name }}</i>
  {% endif %}
</div>
