.icon {
  display: inline-block;
  $icon-size: 16px;

  &__overlaid-text {
    font-size: $icon-size / 2;
    font-weight: 700;
    color: $white;
    background: $teal;
    justify-content: center;
    padding: 2px;
    border-radius: 2px;
    min-width: 4rem;
    vertical-align: middle;
  }

  &__mat-icon, &__mat-icon-black {
    font-size: $icon-size;
    vertical-align: bottom;
  }

  &__mat-icon {
    color: $teal;
  }

  &__mat-icon-black {
    color: $black;
  }
}
