<div class="tabs">
  {% render '@tab', { href: '/components/preview/dashboard--overview-by-grant', label: 'Overview' } -%}
  {%- render '@tab--inactive', { href: '/components/preview/dashboard--publishers', label: 'Publishers' } %}
  <span class="tabs-empty-bar">
</div>
