<div class="cards-section">
  <section class="grid grid--four-columns">
    {# TODO if time – consider letting base-card take params so we can render() it directly #}
  
    <div class="grid__1">
      <div class="base-card base-card--yellow">
        <div class="base-card__content">
          <h2 class="base-card__title">589,282</h2>
          <p class="base-card__text">Grants</p>
        </div>
      </div>
    </div>
    <div class="grid__1">
      <div class="base-card base-card--orange">
        <div class="base-card__content">
          <h2 class="base-card__title">260,921</h2>
          <p class="base-card__text">Recipients</p>
        </div>
      </div>
    </div>
    <div class="grid__1">
      <div class="base-card base-card--teal">
        <div class="base-card__content">
          <h2 class="base-card__title">172</h2>
          <p class="base-card__text">Funders</p>
        </div>
      </div>
    </div>
    <div class="grid__1">
      <div class="base-card base-card--red">
        <div class="base-card__content">
          <h2 class="base-card__title">£107.9bn</h2>
          <p class="base-card__text">Total</p>
        </div>
      </div>
    </div>
  </section>

  <div class="grid-aligned align-right">
    <small>last updated: 4 am 21st April 2021</small>
  </div>
</div>
