<div class="cards-section">
  <section class="grid grid--five-columns">
    <div class="grid__1">
      {% render '@base-card--dynamic', {
        custom_class: 'base-card--yellow',
        value: '589,282',
        label: 'Grants'
      } %}
    </div>
    <div class="grid__1">
      {% render '@base-card--dynamic', {
        custom_class: 'base-card--orange',
        value: '260,921',
        label: 'Recipients'
      } %}
    </div>
    <div class="grid__1">
      {% render '@base-card--dynamic', {
        custom_class: 'base-card--teal',
        value: '172',
        label: 'Publishers'
      } %}
    </div>
    <div class="grid__1">
      {% render '@base-card--dynamic', {
        custom_class: 'base-card--black',
        value: '202',
        label: 'Funders'
      } %}
    </div>
    <div class="grid__1">
      {% render '@base-card--dynamic', {
        custom_class: 'base-card--red',
        value: '£107.9bn',
        label: 'Total'
      } %}
    </div>
  </section>

  <div class="grid-aligned align-right">
    <small>last updated: 4 am 21st April 2021</small>
  </div>
</div>
