<div class="cards-section">
  <section class="grid grid--three-columns">
    <div class="grid__all">  
      <h2 class="cards-section__heading">Join us</h2>
      <h2 class="cards-section__tagline">We help organisations openly publish grants data, and help people use it to improve charitable giving. Join the <a href="#">#opengrants</a> movement.</h2>
    </div>
  
    <div class="grid__1">
      <div class="base-card base-card--yellow">
        <div class="base-card__content">
          <h2 class="base-card__title">Create</h2>
          <p class="base-card__text">Use data to build tools and visuals</p>
          <p class="base-card__text">
            <a href="#" class="button button--yellow">Share</a>
          </p>
        </div>
      </div>
    </div>
    <div class="grid__1">
      <div class="base-card base-card--orange">
        <div class="base-card__content">
          <h2 class="base-card__title">Share</h2>
          <p class="base-card__text">Publish your Data</p>
          <p class="base-card__text">
            <a href="#" class="button button--orange">Share</a>
          </p>
        </div>
      </div>
    </div>
    <div class="grid__1">
      <div class="base-card base-card--teal">
        <div class="base-card__content">
          <h2 class="base-card__title">Search</h2>
          <p class="base-card__text">Find funding data to inform</p>
          <p class="base-card__text">
            <a href="#" class="button button--teal">Share</a>
          </p>
        </div>
      </div>
    </div>
    <div class="grid__all align-center">
      <a href="#" class="button button--teal">Explore the data</a>
    </div>
  </section>
</div>