<div class="loading360g">
  <div class="center-circle"></div>
  <div class="circle-1 circle-yellow circle-medium"></div>
  <div class="circle-2 circle-orange circle-large"></div>
  <div class="circle-3 circle-teal circle-medium"></div>
  <div class="circle-4 circle-yellow circle-large"></div>
  <div class="circle-5 circle-orange circle-medium"></div>
  <div class="circle-6 circle-red circle-small"></div>
</div>