<div class="blurb blurb--left-align">
    <h4 class="blurb-title">Blurb Title</h4>
    <ul class="navigation-list">
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
    </ul>
</div>