<div class="hero-section">
  <div class="wrapper">
    <div class="hero {% if colour %}hero--{{colour}}{% endif %}">
      <!-- .hero--orange, .hero--yellow, .hero--red -->
      <div class="hero__column hero__logo">
        {% if logo %}
        <a href="/"><img src="/images/360-logos/{{logo}}/360{{logo}}-color.svg" alt="360 Giving"></a>
        {% else %}
        <a href="/"><img src="/images/360-logos/main/360giving-logo.svg" alt="360 Giving"></a>
        {% endif %}
      </div>
      <div class="hero__column hero__lead">
        <h2 class="hero__title">
          {% if title %}{{title}}{% else %}See your grantmaking in new ways{% endif %}
        </h2>
        <p class="hero__blurb">
          {% if blurb %}{{blurb}}{% else %}360 Resources is a repository of resources to help Data Champions make better informed decisions by leveraging other people’s experiences.{% endif %}
        </p>
      </div>  
    </div>
  </div>
</div>