{% extends '@layout--slim' %}

{% block main_content %}
  {% render '@dashboard-modal' %}

  <div class="layout__content dashboard-page">
    {% render '@cards-section--dashboard-stats' %}

    {% render '@tab-bar' %}

    <div class="spacer-2"></div>

    <div class="dashboard-page__section-radios">
      {% render '@radio-buttons', { radioGroupName: 'view', radioItems: view_radios } %}
    </div>

    <div class="spacer-2 clearfix"></div>

    {% render '@dashboard-stats-card', {
      title: location_title,
      description: location_description,
      info_label: location_info_label,
      stats: location_stats
    } %}

    {% render '@dashboard-stats-card', {
      title: organisation_title,
      description: organisation_description,
      info_label: organisation_info_label,
      stats: organisation_stats,
      graph_description: organisation_graph_description
    } %}

    {% render '@dashboard-stats-card', {
      title: grant_data_title,
      description: grant_data_description,
      info_label: grant_data_info_label,
      stats: grant_data_stats
    } %}

    {% render '@dashboard-files-card' %}

    {% render '@dashboard-stats-card', {
      title: up_to_date_title,
      description: up_to_date_description,
      info_label: up_to_date_info_label,
      stats: up_to_date_stats,
      graph_description: up_to_date_graph_description
    } %}    

  </div>
{% endblock %}
