{% extends '@layout--slim' %}

{% block main_content %}
  <div class="layout__content dashboard-page">
    {% render '@cards-section--dashboard-stats' %}

    <div class="dashboard__tabs">
      {% render '@tab', { label: 'Overview' } -%}
      {%- render '@tab--inactive', { label: 'Publishers' } %}
    </div>

    {% for ii in range (1, 7) %}
      {% render '@dashboard-publisher-result' %}
    {% endfor %}

    <div class="dashboard-page__pager">
      {% render '@pager' %}
    </div>
  </div>
{% endblock %}
